.button,
#main-content table tfoot td .bulk-actions select,
.pagination a.number,
form input.text-input,
form textarea,
form .wysiwyg,
form select,
.dp-popup {
	border-radius: 4px;
}

.content-box,
ul.content-box-tabs li a.current,
.shortcut-button,
.notification {
	border-radius: 6px;
}
.content-box-header{
	border-radius: 6px 6px 0 0;
}

.closed-box .content-box-header {
	border-radius: 6px;
}

.shortcut-button span {
	border-radius: 7px;
}

div.wysiwyg ul.panel li a {
	opacity: 0.6;
}

div.wysiwyg ul.panel li a:hover,
div.wysiwyg ul.panel li a.active {
	opacity: 0.99;
}
