/********************************      Basic Structure      ********************************/

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
    /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background: #f0f0f0 url('../images/bg-login.gif') repeat;
    font-size: 12px;
}

.list-drop-down {
    border-radius: 4px;
}

h2 img {
    margin-top: -14px;
    float: left;
    margin-right: 5px;
}

.search-record {
    margin-top: -34px;
    display: block;
}

#content #sub_cont {
    width: 961px;
    display: none;
}

#content .no-rec {
    padding: 5px;
}

#content .each_rec {
    padding: 5px;
}

#content .each_rec a {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none
}

.search-background {
    display: none;
    font-size: 13px;
    font-weight: bold;
    height: 160px;
    position: absolute;
    padding-top: 100px;
    text-align: center;
    text-decoration: none;
    width: 470px;
}

#heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 56px;
    color: #CC0000;
}

#body-wrapper {
    /* background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;*/
}

.sel_opr {
    background-color: #f07575;
    background-image: url("../images/select-arrow.png"), linear-gradient(to bottom, #e5e5e5, #f4f4f4);
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.calendar {
    border-left: 1px solid #999;
}

tr.calendar-row {}

* html div.calendar-day {
    height: 80px;
}

td.calendar-day:hover {
    background: #eceff5;
}

td.calendar-day-np {
    background: #eee;
    min-height: 80px;
}

* html div.calendar-day-np {
    height: 80px;
}

td.calendar-day-head {
    background: rgb(18, 43, 90) none repeat scroll 0 0;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 120px;
}

div.day-number {
    background: cadetblue none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-weight: bold;
    margin: -2px 41px 1px 0;
    padding: 5px;
    text-align: center;
    width: 28px;
}


/* shared */

td.calendar-day,
td.calendar-day-np {
    padding: 5px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

#leftcolumn {
    width: 50%;
}

#rightcolumn {
    width: 50%;
}

#leftcolumn,
#rightcolumn {
    float: left;
}

.two-column {
    width: 89% !important;
}


/********************************      Elements styling      ********************************/

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #777;
    border-radius: 10px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
}

h1 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -1000px;
    /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
}

h2 {
    font-size: 26px;
    padding: 0 0 20px 0;
}

h3 {
    font-size: 17px;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 16px;
    padding: 0 0 5px 0;
}

h5 {
    font-size: 14px;
    padding: 0 0 5px 0;
}

h6 {
    font-size: 12px;
    padding: 0 0 5px 0;
}

a {
    color: #083AA3;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
    color: #777;
}

a:focus {
    outline: 1px;
}

strong {
    font-weight: bold;
}

small {
    font-size: 0.85em;
}

pre {
    font-family: monospace;
}

p {
    padding: 5px 0 10px 0;
    line-height: 1.6em;
}


/********************************      General Classes      ********************************/

.clear {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}


/************ Button ************/

.button {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #0E77B0 url('../images/bg-button-blue.png') top left repeat-x !important;
    border: 1px solid #333 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    padding: 5px 7px 3px 7px !important;
}

a.remove-link {
    color: #bb0000;
}

a.remove-link:hover {
    color: #000;
}

.add_btn {
    float: right;
    margin-top: 20px;
}


/********************************      Sidebar      ********************************/

#sidebar {
    background: url('../images/bg-login.gif') repeat;
    width: 230px;
    height: 100%;
    position: absolute;
    left: 0;
    color: #888;
    font-size: 11px;
}

#sidebar #sidebar-wrapper {
    margin: 0 0 0 9px;
}

#sidebar a,
#sidebar a:active {
    color: #ccc;
}

#sidebar a:hover {
    color: #fff;
}

#sidebar #sidebar-title {
    margin: 40px 0 40px 15px;
}

#sidebar #logo {
    margin: 5px 0 5px 0;
}

#sidebar #profile-links {
    padding: 0 15px 20px 15px;
    text-align: right;
    line-height: 1.5em;
}


/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
    width: 206px;
    padding: 0;
    margin: 66px 0 0 15px;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar #main-nav li {
    list-style: none;
    padding-bottom: 10px;
    text-align: right;
}

#sidebar #main-nav li a.nav-top-item {
    background: transparent url('../images/bg-menu-item-green-new.png') right center no-repeat;
    /* Background image for default color scheme - green */
    padding: 10px 15px;
    color: #004B89;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#sidebar #main-nav li a.current {
    background-image: url('../images/bg-menu-item-current.gif') !important;
    color: #333;
    font-weight: bold;
}

#sidebar #main-nav li a.current:hover {
    color: #333;
}

#sidebar #main-nav ul {
    padding: 0;
    font-size: 12px;
    margin: 0;
}

#sidebar #main-nav ul li {
    list-style: none;
    margin: 0;
    text-align: right;
    padding: 0;
}

#sidebar #main-nav ul li a {
    padding: 8px 15px;
    display: block;
    color: #aaa;
    font-size: 13px;
    line-height: 1.2em;
}

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
    color: #fff;
}

#sidebar #main-nav ul li a.current {
    background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
}


/************ Messages ************/

#messages p,
#messages form {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

#messages h4 {
    padding: 10px 0;
}

#messages fieldset {
    margin: 0;
}

#messages textarea {
    margin: 0 0 15px 0;
}


/********************************      Main Content      ********************************/


/************ Layout ************/

#main-content {
    margin: 0 30px 0 230px;
    padding: 20px;
    background: #fff;
}

#main-content-top-right {
    float: left;
    width: 100%;
    height: 22px
}

#main-content-top-right #profile-links {
    /*padding: 0 15px 20px 15px;*/
    text-align: right;
    line-height: 1.5em;
    float: right;
    margin: 5px 0 0 10px;
}

#main-content-top-right #profile-links a {
    color: #000 !important;
    font-weight: bold;
}

#main-content-top-right #profile-links a:hover {
    text-decoration: underline;
}

.column-left {
    width: 48%;
    float: left;
}

.column-right {
    width: 48%;
    float: right;
}

#page-intro {
    font-size: 17px;
    padding: 0 0 20px 0;
}

#footer {
    border-top: 1px solid #ccc;
    margin: 40px 0 0 0;
    padding: 20px 30px;
    font-size: 14px;
    color: #fff;
}


/************ Lists ************/

#main-content ul,
#main-content ol {
    padding: 10px 0;
}


/* Unordered List */


/* Ordered List */

#main-content ol {
    padding: 0 0 0 24px;
}

#main-content ol li {
    list-style: decimal;
    padding: 4px 0;
}


/*************** Content Box ***************/

.content-box {
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    background: #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding-bottom: 30px;
}

.content-box-header {
    background: #1B4D8C/* url('../images/bg-content-box.gif') top left repeat-x*/
    ;
    height: 40px;
}

.content-box-header h3 {
    padding: 8px 15px 6px;
    float: left;
    color: #fff;
    margin-top: 0;
}

ul.content-box-tabs {
    float: right;
    padding: 12px 15px 0 0 !important;
    margin: 0 !important;
}

ul.content-box-tabs li {
    float: left;
    margin: 0;
    padding: 0 !important;
    background-image: none !important;
}

ul.content-box-tabs li a {
    color: #333;
    padding: 8px 10px;
    display: block;
    margin: 1px;
    border-bottom: 0;
}

ul.content-box-tabs li a:hover {
    color: #083AA3;
}

ul.content-box-tabs li a.current {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0;
}

.content-box-content {
    padding: 20px;
    font-size: 13px;
    border-top: 1px solid #ccc;
}


/************ Table ************/

#main-content table {
    width: 100%;
    border-collapse: collapse;
}

#main-content table thead th {
    font-weight: bold;
    font-size: 15px;
    /*border-bottom: 1px solid #ddd;
                
                background:#1B4D8C;
                
                color:#fff;*/
}

.add_form {
    width: 100%;
}

.add_form table {
    border: none;
    width: 100%;
}

.add_form table tr {
    background: none !important;
}

.add_form table tr td {
    border: none;
    padding: 0;
    background: none;
}

.add_form form .medium-input {
    width: 90% !important;
}


/*#main-content table th{ border:1px solid #333;}*/

#main-content table tfoot td .bulk-actions {
    padding: 15px 0 5px 0;
}

#main-content table tfoot td .bulk-actions select {
    padding: 4px;
    border: 1px solid #ccc;
}


/*************** Pagination ***************/

#main-content .pagination {
    text-align: right;
    padding: 20px 0 5px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.pagination a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
}

.pagination a.number {
    border: 1px solid #aaa;
    background: #ddd;
}

.pagination a.current {
    background: #0E77B0 url('../images/bg-button-blue.png') top left repeat-x !important;
    border-color: #0E77B0 !important;
    color: #fff !important;
}

.pagination a.current:hover {
    text-decoration: underline;
}


/************ Shortcut Buttons ************/

.shortcut-button {
    border: 1px solid #ccc;
    background: #E4F3FD/* url('../images/shortcut-button-bg.gif') top left no-repeat*/
    ;
    display: block;
    width: 80px;
    margin: 0 0 20px 0;
}

.shortcut-button span {
    border: 1px solid #fff;
    display: block;
    padding: 2px 1px 2px 1px;
    text-align: center;
    color: #555;
    font-size: 13px;
    line-height: 1.3em;
    min-height: 80px;
}

.shortcut-button span img {
    margin-bottom: 10px;
}

.shortcut-button:hover {
    background: #fff;
}

.shortcut-button span:hover {
    color: #083AA3;
}

ul.shortcut-buttons-set li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 !important;
    background: 0;
}


/*************** Forms ***************/

form label {
    display: block;
    font-weight: bold;
}

form fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}

form p small {
    font-size: 0.75em;
    color: #777;
}

form input.text-input,
form select,
form textarea,
form .wysiwyg {
    padding: 6px;
    font-size: 13px;
    background: #fff url('../images/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
}

form .small-input {
    width: 25% !important;
}

form .medium-input {
    width: 50% !important;
}

form .large-input {
    width: 97.5% !important;
    font-size: 16px !important;
    padding: 8px !important;
}

form select {
    padding: 4px;
    background: #fff;
}

form input[type="checkbox"],
form input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}


/*************** Notifications ***************/

.notification {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    width: 99.8%;
}

.attention {
    background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}

.information {
    background: #dbe3ff url('../images/icons/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}

.success {
    background: #d5ffce url('../images/icons/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}

.error {
    border-color: #df8f8f;
    color: red;
}

.notification div {
    display: block;
    font-style: normal;
    padding: 10px 10px 10px 36px;
    line-height: 1.5em;
}

.notification .close {
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}


/* Notification for form inputs */

.input-notification {
    background-position: left 2px;
    background-repeat: no-repeat;
    padding: 2px 0 2px 22px;
    background-color: transparent;
    margin: 0 0 0 5px;
}


/* Notification for login page */

#login-wrapper #login-content .notification {
    border: 0;
    background-color: #141414;
    color: #fff !important;
}


/********************************      Login Page      ********************************/

body#login {
    color: #000;
    background: #222 url('../images/bg-login.gif');
}

#login-wrapper {
    /*  background: url('../images/bg-login-top.png') top left repeat-x;*/
}

#login-wrapper #login-top {
    width: 100%;
    padding: 140px 0 50px 0;
    text-align: center;
}

#login-wrapper #login-content {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

#login-wrapper #login-content label {
    color: #000;
    font-weight: normal;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
    width: 70px;
    padding: 0;
}

#login-wrapper #login-content input {
    width: 200px;
    float: right;
    margin: 0 0 20px 0;
    border: 1px solid #999999;
    background: #fff;
}

#login-wrapper #login-content p {
    padding: 0;
}

#login-wrapper #login-content p#remember-password {
    float: left;
}

#login-wrapper #login-content p#remember-password input {
    float: none;
    width: auto;
    border: 0;
    background: none;
    margin: 0 10px 0 0;
}

#login-wrapper #login-content p .button {
    width: auto;
    margin-top: 20px;
}


/********************************      jQuery plugins styles      ********************************/


/*************** Facebox ***************/

#facebox .b {
    background: url(../images/b.png);
}

#facebox .tl {
    background: url(../images/tl.png);
}

#facebox .tr {
    background: url(../images/tr.png);
}

#facebox .bl {
    background: url(../images/bl.png);
}

#facebox .br {
    background: url(../images/br.png);
}

#facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
}

#facebox .popup {
    position: relative;
}

#facebox table {
    border-collapse: collapse;
}

#facebox td {
    border-bottom: 0;
    padding: 0;
}

#facebox .body {
    padding: 10px;
    background: #fff;
    width: 370px;
}

#facebox .loading {
    text-align: center;
}

#facebox .image {
    text-align: center;
}

#facebox img {
    border: 0;
    margin: 0;
}

#facebox .footer {
    border-top: 1px solid #DDDDDD;
    padding-top: 5px;
    margin-top: 10px;
    text-align: right;
}

#facebox .tl,
#facebox .tr,
#facebox .bl,
#facebox .br {
    height: 10px;
    width: 10px;
    overflow: hidden;
    padding: 0;
}

#facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.facebox_hide {
    z-index: -100;
}

.facebox_overlayBG {
    background-color: #000;
    z-index: 99;
}


/*************** jQuery WYSIWYG ***************/

div.wysiwyg {
    border: 1px solid #cccccc;
    padding: 5px;
    background-color: #ffffff;
    width: 97.5% !important;
}

div.wysiwyg * {
    margin: 0;
    padding: 0;
}

div.wysiwyg ul.panel {
    border-bottom: 1px solid #cccccc;
    float: left;
    width: 100%;
    padding: 0 0 5px 0;
}

div.wysiwyg ul.panel li {
    list-style-type: none;
    float: left;
    margin: 0 2px;
    padding: 0 !important;
    background: #ffffff;
    background-image: none !important;
}

div.wysiwyg ul.panel li.separator {
    height: 16px;
    margin: 0 4px;
    border-left: 1px solid #cccccc;
}

div.wysiwyg ul.panel li a {
    display: block;
    padding: 0 !important;
    width: 16px;
    height: 16px;
    background: url('../images/icons/jquery.wysiwyg.gif') no-repeat -64px -80px;
    border: 0;
    cursor: pointer;
    padding: 1px;
}

div.wysiwyg ul.panel li a:hover,
div.wysiwyg ul.panel li a.active {}

div.wysiwyg ul.panel li a.active {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-left-color: #aaaaaa;
    border-top-color: #aaaaaa;
    padding: 0;
}

div.wysiwyg ul.panel li a.bold {
    background-position: 0 -16px;
}

div.wysiwyg ul.panel li a.italic {
    background-position: -16px -16px;
}

div.wysiwyg ul.panel li a.strikeThrough {
    background-position: -32px -16px;
}

div.wysiwyg ul.panel li a.underline {
    background-position: -48px -16px;
}

div.wysiwyg ul.panel li a.justifyLeft {
    background-position: 0 0;
}

div.wysiwyg ul.panel li a.justifyCenter {
    background-position: -16px 0;
}

div.wysiwyg ul.panel li a.justifyRight {
    background-position: -32px 0;
}

div.wysiwyg ul.panel li a.justifyFull {
    background-position: -48px 0;
}

div.wysiwyg ul.panel li a.indent {
    background-position: -64px 0;
}

div.wysiwyg ul.panel li a.outdent {
    background-position: -80px 0;
}

div.wysiwyg ul.panel li a.subscript {
    background-position: -64px -16px;
}

div.wysiwyg ul.panel li a.superscript {
    background-position: -80px -16px;
}

div.wysiwyg ul.panel li a.undo {
    background-position: 0 -64px;
}

div.wysiwyg ul.panel li a.redo {
    background-position: -16px -64px;
}

div.wysiwyg ul.panel li a.insertOrderedList {
    background-position: -32px -48px;
}

div.wysiwyg ul.panel li a.insertUnorderedList {
    background-position: -16px -48px;
}

div.wysiwyg ul.panel li a.insertHorizontalRule {
    background-position: 0 -48px;
}

div.wysiwyg ul.panel li a.h1 {
    background-position: 0 -32px;
}

div.wysiwyg ul.panel li a.h2 {
    background-position: -16px -32px;
}

div.wysiwyg ul.panel li a.h3 {
    background-position: -32px -32px;
}

div.wysiwyg ul.panel li a.h4 {
    background-position: -48px -32px;
}

div.wysiwyg ul.panel li a.h5 {
    background-position: -64px -32px;
}

div.wysiwyg ul.panel li a.h6 {
    background-position: -80px -32px;
}

div.wysiwyg ul.panel li a.cut {
    background-position: -32px -64px;
}

div.wysiwyg ul.panel li a.copy {
    background-position: -48px -64px;
}

div.wysiwyg ul.panel li a.paste {
    background-position: -64px -64px;
}

div.wysiwyg ul.panel li a.increaseFontSize {
    background-position: -16px -80px;
}

div.wysiwyg ul.panel li a.decreaseFontSize {
    background-position: -32px -80px;
}

div.wysiwyg ul.panel li a.createLink {
    background-position: -80px -48px;
}

div.wysiwyg ul.panel li a.insertImage {
    background-position: -80px -80px;
}

div.wysiwyg ul.panel li a.html {
    background-position: -48px -48px;
}

div.wysiwyg ul.panel li a.removeFormat {
    background-position: -80px -64px;
}

div.wysiwyg ul.panel li a.empty {
    background-position: -64px -80px;
}

div.wysiwyg iframe {
    border: 0;
    margin: 5px 0 0 0;
    clear: left;
    width: 97.5% !important;
}


/*header*/

.header_top {
    background-image: url("../images/bg-login.gif");
    background-repeat: repeat-x;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 28px 30px;
    text-align: right;
}

.welcome {
    margin: 5px 0 5px 0;
    text-align: right;
    width: 100%;
    height: 22px;
}


td.details-control {
    background: url("../../assets/images/details_open.png") no-repeat scroll center center;
    cursor: pointer;
}

tr.details td.details-control {
    background: url("../../assets/images/details_close.png") no-repeat scroll center center;
}

.page-header {
    margin: 0;
}

#main-nav ul {
    display: none;
}

.normal-table th{
    font-weight: bold;
}